<app-navbar />
<div class=" container">
  <div class="row">
    <app-social-media-contact />
  </div>
</div>
<div class="contact-margin">
  <div class="container">
    <div class="row">
      <div class="offset-lg-1 col-lg-10">
        <!-- Success/failure message replaces form when submission settles -->
        <app-success-failure-message *ngIf="!showForm" (resetForm)="onResetForm()" />
        <!-- Contact form -->
        <div *ngIf="showForm" class="card panel-default">
          <div class="card-header head-ctm">
            <h2 class="card-title">{{'ContactComponent-TITLE'| translate}}</h2>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
              <div class="form-group">
                <fieldset>
                  <label class="margins-and-font" id="margin-compensate-1"
                    for="firstName">{{'ContactComponent-FIRSTNAME'|
                    translate}}</label>
                  <input class="form-control" [ngClass]="{'is-invalid': (contactForm.get('firstName')?.touched ||
                              contactForm.get('firstName')?.dirty) &&
                              !contactForm.get('firstName')?.valid }" formControlName="firstName" type="text">
                  <span class="invalid-feedback">
                    <span *ngIf="contactForm.get('firstName')?.errors?.['required']">
                      Please enter valid Username
                    </span>
                  </span>
                  <label class="margins-and-font" for="lastName">{{'ContactComponent-LASTNAME'| translate}}</label>
                  <input class="form-control" [ngClass]="{'is-invalid': (contactForm.get('lastName')?.touched ||
                              contactForm.get('lastName')?.dirty) &&
                              !contactForm.get('lastName')?.valid }" formControlName="lastName" type="text">
                  <span class="invalid-feedback">
                    <span *ngIf="contactForm.get('lastName')?.errors?.['required']">
                      Please enter valid Username
                    </span>
                  </span>
                  <label class="margins-and-font" for="email">{{'ContactComponent-EMAIL'| translate}}</label>
                  <input class="form-control" [ngClass]="{'is-invalid': (contactForm.get('email')?.touched ||
                              contactForm.get('email')?.dirty) &&
                              !contactForm.get('email')?.valid }" formControlName="email" type="text">
                  <span class="invalid-feedback">
                    <span *ngIf="contactForm.get('email')?.errors?.['required']">
                      Please enter valid email address
                    </span>
                  </span>
                </fieldset>
                <fieldset>
                  <label class="margins-and-font" id="margin-compensate-2" for="subject">{{'ContactComponent-SUBJECT'|
                    translate}}</label>
                  <input class="form-control" [ngClass]="{'is-invalid': (contactForm.get('subject')?.touched ||
                              contactForm.get('subject')?.dirty) &&
                              !contactForm.get('subject')?.valid }" formControlName="subject" type="text">
                  <span class="invalid-feedback">
                    <span *ngIf="contactForm.get('subject')?.errors?.['required']">
                      Must enter a subject
                    </span>
                  </span>
                  <label class="margins-and-font" for="message">{{'ContactComponent-MESSAGE'| translate}}</label>
                  <textarea class="form-control" [ngClass]="{'is-invalid': (contactForm.get('message')?.touched ||
                              contactForm.get('message')?.dirty) &&
                              !contactForm.get('message')?.valid }" formControlName="message" type="text" id="message"
                    name="message" rows="6" required></textarea>
                  <span class="invalid-feedback">
                    <span *ngIf="contactForm.get('message')?.errors?.['required']">
                      Must enter a message
                    </span>
                  </span>
                </fieldset>
                <div class="visually-hidden">
                  <input type="text" formControlName="_gotcha" tabindex="-1" autocomplete="off" />
                </div>
                <div class="btn-padding">
                  <button class="btn btn-secondary head-ctm" id="submit" type="submit"
                    [disabled]="isDisabled()">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-language-picker />
<!-- <return-button class="hidden-btn"></return-button> -->
