<div class="projectpos">
  <div *ngFor="let p of items1">
    <app-reusable-img [p]="p"></app-reusable-img>
  </div>
</div>
<div class="projectpos">
  <div *ngFor="let p of items2">
    <app-reusable-img [p]="p"></app-reusable-img>
  </div>
</div>
<div class="mottopos">
  <div *ngFor="let p of items3">
    <app-reusable-img [p]="p"></app-reusable-img>
  </div>
</div>
<div class="projectpos">
  <div class="projecttitle">
    <a>
      <p class="ptitle">Both Vue and React sites have been shut down to free up infrastructure during COVID19 outbreak</p>
    </a>
  </div>
</div>
<div class="projectpos">
  <div class="projecttitle reactjs">
    <!-- <a href="https://vue.ebseiten.com"> -->
      <img id="reactimg" src="../../../../assets/images/vue.png" alt="" />
    <!-- </a> -->
    <!-- <a href="https://vue.ebseiten.com"> -->
      <p class="ctitle">VueJS of Portfolio Site</p>
    <!-- </a> -->
  </div>
  <div class="projecttitle reactjs">
    <!-- <a href="https://react.ebseiten.com"> -->
      <img id="reactimg" src="../../../assets/images/reactjs.svg" />
    <!-- </a>
    <a href="https://react.ebseiten.com"> -->
      <p class="ctitle">React Version of Portfolio Site</p>
    <!-- </a> -->
  </div>
</div>
<!--<div class="mottopos">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KFDg1QE6DUQ" allowfullscreen></iframe>
    </div>
</div>-->
<div class="projectpos">
  <div class="projecttitle">
    <a>
      <img class="projectmore" src="../../../assets/images/mywebsitelogo.png" />
    </a>
    <a>
      <p class="ptitle">More to come...</p>
    </a>
  </div>
</div>
