<div class="row">
  <div class="content-size content-offset projecttitle" id="content-offset-2">
    <div class="content-offset-1">
      <a href="https://dougjones.com/">
        <img class="projectimg" src="../../../../assets/images/Doug-Jones-for-Senate.svg" />
      </a>
    </div>
    <div>
      <div>
        <a href="https://dougjones.com/">
          <p class="ptitle" id="padding-top">Doug Jones for Senate</p>
          <p class="ptitle" id="reverse">2020</p>
        </a>
      </div>
      <div>
        <p class="campaign"> I am once again helping Senator Doug Jones during his uphill reelection bid. For me,
          Senator Jones' 2020 reelection is so much more important than it was in 2017. This year is a Presidential
          election year and Alabama has not been blue in an Presidential election year since 1976 or 44 years.
        </p>
        <p class="campaign">
          During the final days of the campaign I hope <a href="https://youtu.be/kp8z9Zoe6UU">to run an ad across the state of Alabama</a> to ask all
          Republicans to abandon the
          republican party this time around. Send a Doug Jones is assembled and he needs to stay as a symbol for the
          bright future we hope to build for Alabama.
        </p>
      </div>
    </div>
  </div>
  <div class="content-size content-offset projecttitle content-offset-3" id="content-offset-2">
    <div class="content-offset-1">
      <img class="projectimg"
        src="../../../../assets/images/1920px-Beto_O'Rourke_2020_presidential_campaign_logo.svg.png" />
    </div>
    <div>
      <div>
        <p class="ptitle" id="padding-top">Beto for America</p>
        <p class="ptitle" id="reverse">2019</p>
      </div>
      <div>
        <p class="campaign">I started my work for Beto for America in May 2019 before the debates started. I was
          assigned
          to help find newspaper clippings/articles on all of our primary opponents. I continued this work all the way
          until the campaign ended in November 2019.
        </p>
        <p class="campaign">As I watched the campaign, it became abundantly clear to me that Congressmen O'Rourke was
          getting bad advice. My guess is that he had too much of his of his old Senate campaign staff on his
          Presidential campaign. This obviously was not helpful as a Presidential campaign is
          a completely different animal. For one thing, you have appeal to a much larger population than just Texas. For
          another thing you have to be able to think on your feet and react fast. If you don't people run over you.
        </p>
        <p class="campaign">
          I made these warning abundantly clear to those who were higher in the campaign, but I was ignored. Hopefully
          this will serve as a cautionary tale to any future campaigns I work with. I know how to read people, so take
          my advice or you run the risk of losing.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="content-size content-offset projecttitle" id="content-offset-2">
    <div class="content-offset-1">
      <a href="https://dougjones.com/">
        <img class="projectimg" src="../../../../assets/images/Doug-Jones-for-Senate.svg" />
      </a>
    </div>
    <div>
      <div>
        <a href="https://dougjones.com/">
          <p class="ptitle" id="padding-top">Doug Jones for Senate</p>
          <p class="ptitle" id="reverse">2017</p>
        </a>
      </div>
      <div>
        <p class="campaign"> I was responsible for getting Senator Doug Jones campaign picture on Wikipedia for the 2017
          special election. You can take a look at that record <a
            href="https://en.wikipedia.org/w/index.php?title=2017_United_States_Senate_special_election_in_Alabama&diff=811459930&oldid=811454841">here</a>.
          I am currently doing volunteer work to get the Democratic Senator re-elected in a heavily Republican state.
        </p>
        <p class="campaign"> His election went to the very core of what I believe/know to be right. He was a former
          federal prosecutor who was known for prosecuting those involved in the <a
            href="https://www.wbrc.com/2020/09/15/th-anniversary-th-street-baptist-church-bombing-that-killed-little-girls/">16th
            St. Baptist Church bombings in Birmingham Alabama.</a> For
          me, events like that were a source of shame. Finally we had gotten one step closer to putting that shame to
          bed.
        </p>
      </div>
    </div>
  </div>
</div>
