$color_1: #000000;
$font-family_1: 'Brushtagi';
$background-color_1: #f5f5f5;

.mindsetimg1 {
	background-image: url("https://res.cloudinary.com/dpkbivt1g/image/upload/v1559946377/savingwifeandchild.gif");
	background-size: cover;
}
.mindsetimg2 {
	background-image: url("https://res.cloudinary.com/dpkbivt1g/image/upload/v1523979190/motherfatherandchild.gif");
	background-size: cover;
}
.mindsetimg3 {
	background-image: url("https://res.cloudinary.com/dpkbivt1g/image/upload/v1523979094/defendingmotherandson.gif");
	background-size: cover;
}
.mindsetimg4 {
	background-image: url("https://res.cloudinary.com/dpkbivt1g/image/upload/v1523979205/inuyashanewborn.gif");
	background-size: cover;
}
.htitle {
	text-align: center;
	color: $color_1;
}
.mottopos {
	display: flex;
	justify-content: space-around;
	padding-top: 20px;
	padding-bottom: 20px;
}
.perscont {
	display: flex;
	justify-content: space-around;
	padding-top: 20px;
}
#home {
	height: 100%;
	background-color: $background-color_1 !important;
	p {
		font-size: 18pt;
		font-family: $font-family_1;
	}
	li {
		font-size: 16pt;
		font-family: $font-family_1;
	}
}
@media (min-width: 1149px) {
	.mindsetimg {
		width: 50vw;
		height: 600px;
		background-position: center;
	}
	.mindsetpos {
		display: flex;
		justify-content: space-around;
	}
	.personalimg {
		height: 300px;
		width: 299.33px;
		border-radius: 8px;
	}
	.persinfo {
		width: 299px;
		height: auto;
	}
}
@media (min-width: 992px) and (max-width: 1148px) {
	.mindsetimg {
		width: 50vw;
		height: 600px;
		background-position: center;
	}
	.mindsetpos {
		display: flex;
		justify-content: space-between;
	}
	.personalimg {
		height: 200px;
		width: 199.5533px;
		border-radius: 8px;
	}
	.persinfo {
		width: 299px;
		height: auto;
	}
}
@media (max-width: 991px) {
	.mindsetimg {
		width: 100vw;
		height: 500px;
		background-position: center;
	}
	.mindsetpos {
		flex-direction: column;
		text-align: center;
		.htitle {
			font-size: 10pt;
		}
	}
	.mottopos {
		font-size: 10pt;
	}
	.personalimg {
		height: 200px;
		width: 199.5533px;
		border-radius: 8px;
	}
	.persinfo {
		width: 299px;
		height: auto;
	}
}
