$font-family_1: 'Brushtagi';

.login-body {
	margin-top: 20px;
}
h2.card-title {
	font-family: $font-family_1;
	font-size: 2rem;
}
#login {
	font-size: 1rem;
	font-family: $font-family_1;
}

.login-margin-top {
  margin-top: 50px;
}

.login-button-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}
