<app-navbar></app-navbar>
<app-social class="normalIcons"></app-social>
<div class="persona-image">
  <div class="persona-item">
    <img id="personalimg" title="Do you have someone to protect?" src="../../../assets/images/myselfie.jpg" />
  </div>
</div>

  <div class="persona-image">
    <div class="persona-item">
      <p>OK you’re probably wondering what’s with the anime gifs on my homepage. The answer to
        that it’s relatively simple. It has to do with the mindset shift that I had after my grandfather died in
        November 2015. I’m not going to go into detail here as to what it actually occurred, but I intend to write a
        blog post on it as soon as I get it working.
      </p>
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="offset-lg-2 col-lg-8">
      <p>The blog in question is still being built behind the scenes, but the goal to build user interface that is
        identical to medium.com.
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="offset-lg-2 col-lg-8">
      <p> If you are interested, click <a routerLink="/contact"><b>here</b></a> to fill out my contact form.
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="offset-lg-2 col-lg-8">
      <p> While I am waiting for the right people to show up, I am also looking for a full-time developer job with
        benefits. Surprisingly, I prefer to be working in an office setting versus working remotely from home. I like
        the interaction. I'll probably be shy at first, but I will eventually come out of my shell.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="offset-lg-2 col-lg-8">
      <p> Have a look at my résumé and also have a look around. Within this site, I have hidden a few Easter eggs</p>
    </div>
  </div>
</div>
<app-language-picker></app-language-picker>
