
@font-face {
	font-family: 'Komadori-Mini';
	src: url('../fonts/komadori-mini/komadori-mini.otf') format('OpenType'), url('../fonts/komadori-mini/komadori-mini.ttf') format('truetype');
}
@font-face {
	font-family: 'Brushtagi';
	src: url('../fonts/brushtagi/Brushtagi.otf') format('OpenType'), url('../fonts/brushtagi/Brushtagi.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Northern';
	src: url('../fonts/northern-typeface/Northern.otf') format('OpenType'), url('../fonts/northern-typeface/Northern.ttf') format('truetype');
	font-style: normal;
}
@font-face {
	font-family: 'Santoriu';
	src: url('../fonts/Santoriu/Santoriu.otf') format('OpenType'), url('../fonts/Santoriu/Santoriu.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
