<div class="marginBottom">
  <app-navbar></app-navbar>
  <div class="container">
      <div class="blogPadd">
          <div class="blogTop card panel-default">
              <div class="card-header head-ctm">
                  <h2 class="card-title">Blog of the
                      <label title="Dog Samurai">犬の武士</label>
                  </h2>
              </div>
          </div>
      </div>
  </div>
      <div class="no-post">
          <p>No Blog Post</p>
      </div>
  <app-language-picker></app-language-picker>
</div>

